.container
    padding: 30px 20px
    
.course
    padding: 30px 30px 0px 0px
    display: flex
    justify-content: space-between
    width: 100%

    .photo-container
        width: 400px
        height: 400px
        margin-right: 40px

        img
            width: 400px
            height: 400px
            object-fit: cover
            border-radius: 10px
    
    .text-container
        margin-left: 20px

        .title
            margin: 0
            font-size: 24px

        .description
            font-size: 18px
            max-width: 700px
        
        .status
            font-size: 18px

        .bold-text
            font-weight: 600
    
    .btn-container
        padding-top: 20px

        .btn
            padding: 15px 70px
            border-radius: 20px
            font-size: 18px
            text-decoration: none

            &:hover
                cursor: pointer
        
        .green-btn
            color: white
            background-color: #01975e
            border: 1px solid white

            &:hover
                color: #01975e
                background-color: white
                border: 1px solid #01975e

        .red-btn
            color: white
            background-color: #ec1d1d
            border: 1px solid white

            &:hover
                color: #ec1d1d
                background-color: white
                border: 1px solid #ec1d1d

    .task-container
        margin-bottom: 50px

    .formik-field
        padding: 12px
        width: 620px
        font-size: 24px 
        border-radius: 10px
        border: 1px solid #15270D
        color: #74806F
        outline: none

    .form-btn
        margin: 20px 0
        padding: 8px 60px
        width: 620px
        font-size: 30px
        color: #15270D
        border-radius: 30px
        background-color: #34C78E
        text-transform: uppercase

    .task-title
        font-weight: bold
        font-size: 20px

    .task_title_text
        font-size: 16px
        text-decoration: underline
        color: #00b6ee

        &:hover
            cursor: pointer

    .download-solution
        font-size: 16px
        color: #00b6ee

        &:hover
            cursor: pointer

        