.warn-text
    text-align: center

.course-enter 
    transform: translateX(-350px)

.course-enter-active 
    transform: translateX(0px)
    transition: all 500ms ease-in

.course-exit 
    opacity: 1

.course-exit-active 
    transform: translateX(-350px)
    transition: all 500ms ease-in

    
.courses-list-container
    margin-top: 30px
    text-align: center
    padding-right: 50px
    padding-left: 50px

    .slogan
        letter-spacing: 10px
        font-size: 64px
        font-weight: 700
        font-family: 'Merienda'

        .green-text
            color: #34C78E

    .wrapper 
        display: flex
        text-align: left
        margin-bottom: 20px
        border: 1px solid white
        border-radius: 10px

        &:hover
            cursor: pointer


    .photo-container
        width: 120px
        height: 120px
        
        img
            width: 120px
            height: 120px
            object-fit: cover
            border-radius: 10px

    .text-container
        margin-left: 15px

        .bold-text
            font-weight: 600

        .description
            margin-top: 10px
            
        p
            margin: 0
            

    