.header-container
    padding: 0 15px
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #FF7800

    .text
        margin: 0
        padding-top: 20px
        padding-bottom: 20px

    .link
        color: white
        text-decoration: none